#addDestination {
    margin: 30px;
    background-color: #f9fcff;
    width: 900px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #3A3A3A;
    position: absolute;
    z-index: 3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#addDestination-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addDestination select {
    height: 30px;
    margin: 10px;
    font-size: 18px;
}

#addDestination label {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;

}


#addDestination form {
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

#addButton {
    margin-top: 30px;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background-color: #565656;
    border-radius: 5px;
    color: white;
    align-items: center;
}

#addButton:hover {
    height: 50px;
    transform: scale(1.1);
    background-color: rgb(127, 204, 168);
    font-weight: bolder;
}

#statusMessage {
    color: rgb(214, 93, 93);
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    padding-top: 60px;
}

#checkbox-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

#category-checkbox-container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin: 10px;
    width: 900px;
}

