.dark-mode{
    background-color: #101214;
    color: rgb(222,228,234);
}

.dark-mode #container {
    background-color: #101214;
}

.dark-mode #container h1 {
    color: rgb(222,228,234);
}

.dark-mode #container textarea {
    color: rgb(21, 37, 53);
}

.dark-mode #box button, .dark-mode #editButton, .dark-mode #navbar button, .dark-mode #search-and-add button {
    background-color: rgb(40,46,51);
}

.dark-mode #box button:hover, .dark-mode #editButton:hover, .dark-mode #navbar button:hover, .dark-mode #search-and-add button:hover {
    background-color: rgb(56,65,74);
}

.dark-mode #container img {
    filter: brightness(80%);
}

.dark-mode #navbar {
    background-color: rgb(22,26,29);
    color: rgb(222,228,234);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}

.dark-mode #checkbox-container {
    background-color: rgb(22,26,29);
}

.dark-mode #box {
    background-color: rgb(22,26,29);
    color: rgb(222,228,234);
}

/* .dark-mode #box:hover {
    filter: brightness(120%);
} */

.dark-mode #box h2{
    color: rgb(222,228,234);
}

.dark-mode #menu-container h4 {
    background-color: rgb(40,46,51);
}

.dark-mode #search-and-add input {
    background-color: rgb(222,228,234);
    color: rgb(115,132,150);
}

.dark-mode #modal-container {
    background-color: rgb(22,26,29);
    color: rgb(222,228,234);
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.4);
}

.dark-mode #modal-container textarea {
    background-color: rgb(222,228,234);
}

.dark-mode .MuiRating-iconEmpty {
    color: rgb(222,228,234);
}

.dark-mode #editBox {
    background-color: rgb(22,26,29);
}

.dark-mode #editBox textarea{
    background-color: rgb(222,228,234);
}

.dark-mode #editBox select{
    background-color: rgb(222,228,234);
}

.dark-mode #editBox h2 {
    color: rgb(222,228,234);
}

.dark-mode #editBox input {
    background-color: rgb(222,228,234);
    color: rgb(115,132,150);
}

.dark-mode #editDestination img {
    filter: brightness(80%);
}

.dark-mode #addDestination {
    background-color: rgb(22,26,29);
    color: rgb(222,228,234);
}

.dark-mode #addDestination h3 {
    color: rgb(222,228,234);
}

.dark-mode #addDestination select {
    background-color: rgb(222,228,234);
}

.dark-mode #addDestination input {
    background-color: rgb(222,228,234);
}

.dark-mode #addDestination text {
    background-color: rgb(222,228,234);
}

.dark-mode #addDestination textarea {
    background-color: rgb(222,228,234);
}





