#modal-container {
    margin: 30px;
    background-color: #FAFCFE;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #3A3A3A;
    position: absolute;
    z-index: 2;
    margin: 20px;
    padding-bottom: 20px;
}

.not_blur {
    filter: none;   
}

#x-button {
    position: absolute;
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    z-index: 2;
    opacity: 0.7;
    background-color: white;
    color: #3A3A3A;
}

#x-button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.97);
}


#modal-container img {
    position: relative;
    width: 100%;
}

#info-container {
    width: 100%;
}

#title-container {
    height: 5ch;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #3A3A3A;
    border-width: 1px;
}

#title-container h1, h3 {
    color: #3A3A3A;
}

.addPadding {
    padding-left: 10px;
    padding-right: 10px;
}

#visited-container {
    margin-top: 5px;
    height: 5ch;
    display: flex;
    align-items: center;
}

#rating-container {
    margin-top: 5px;
    height: 5ch;
    display: flex;
    align-items: center;
}

#tag-container {
    height: 5ch;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#description-container {
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 5ch;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#admin-buttons {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edit-button {
    background-color: transparent;
    font-size: 16px;
    color: rgb(55, 102, 222);
    margin-left: 5px;
}

#delete-button {
    background-color: transparent;
    font-size: 16px;
    color: rgb(224, 70, 70);
    margin-right: 5px;
}

#delete-button:hover {
    transform: scale(1.05);
}

#edit-button:hover {
    transform: scale(1.05);
}

#icon {
    margin-left: 5px;
}

#myrating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: relative; 
    position: relative;
}

#review-destinations {
    width: 300px; 
    height: 100px; 
    filter: none;
    resize: none;
}

#starRating {
    filter: none !important;
    
}

#submit-review {
    padding: 5px; 
    margin: 5px;
    box-sizing: border-box; 
}

#singlereview-container{
    opacity: 0.5;
    justify-content: space-between;
}


#top-of-review {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#checkbox-container {
    background-color: #FAFCFE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

#triple-button-div {
    display: flex;
    flex-direction: row;
}


#back-review {
    font-size: 30px;
    color: rgb(55, 102, 222);
    margin: 5px;
}

#update-review {
    font-size: 30px;
    color: rgb(0, 193, 0);
    margin: 5px;
}

#delete-review {
    font-size: 30px;
    color: rgb(224, 70, 70);
    margin: 5px;
}

#back-review:hover, #update-review:hover, #delete-review:hover{
    transform: scale(1.05);
}