.box {
    height: 200px;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: #FAFCFE;
   /*  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */

}

/* .box:hover {
    transform: scale(1.02);
    background-color: #FAFCFE;
    
} */

.inner-div {
    float: left;
    height: 100%;
}

img {
    width: 40%;
    border-radius: 10px;
}

.info-div {
    width: 30%;
}

.more-div {
    width: 30%;
}

h1 {
    color: #3A3A3A;
    padding-left: 10px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    color: #3A3A3A;
    opacity: 0.72;
    padding-left: 10px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rating-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

p {
    margin-right: 67px;
}

.button-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

button {
    background-color: #565656;
    border: 0px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

button:hover {
    background-color: grey;
}

button:active {
    background-color: rgb(100, 100, 100);
    transform: scale(0.97);
}
