#editBox {
    margin: 30px;
    background-color: #FAFCFE;
    width: 900px;
    height: 55%;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #3A3A3A;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editBox h1 {
    align-self: center;
}

#x-button {
    align-self: flex-start;
}

#editDestination {
    display: flex;
}

#editDestination img {
    align-self: center;
    width: 100%;
}

#display-current-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 20px;
    max-width: 40%;
    min-width: 40%;
}

#editDestination-inner {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 14px;
    max-width: 50%;
}

#statusmessage {
    color: rgb(214, 93, 93);
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    padding-top: 50px;
}

#editDestination-inner select {
    margin: 10px;
    font-size: 14px;
}

#editDestination-inner textarea {
    font-size: 12px;
}

#edit-checkboxes label {
    margin-left: 15px;
}

#edit-checkboxes {
    width: 30%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

#editButton {
    margin-top: 30px;
    height: 40px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background-color: #565656;
    border-radius: 5px;
    color: white;
    align-self: center;
}

#editButton:hover {
    transform: scale(1.1);
    background-color: rgb(127, 204, 168);
    font-weight: bolder;
}

#imgURL {
    width: 150px;
}