#filterPanel-container {
    width: 100%;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu-container {
    width: 100%;
    border-radius: 10px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}

#menu-container h4 {
    background-color: #96c9eb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 0px;
}

#checkbox-container {
    background-color: #FAFCFE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

#checkbox-container label {
    display: block;
    margin-bottom: 5px;
}

