#container {
    width: 100vw;
    background-color: #ECF7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#feed-container {
    width: 100vw;
    max-width: 1500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;    
} 

#filter-container {
    position: absolute;
    left: 0; /* Preserve left alignment */
    width: 22%;
    display: flex;
    z-index: 1;

} 

.blur-background :not(.not-blur) {
    filter: blur(2px);
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
}

#addDestinationButton {
    position: absolute;
    align-self: flex-end;
    margin:50px;
    height: 50px;
    width: 110px;
    z-index: 3;
    border-radius: 10px;
}

#search-container {
    width: 50%;
    display: flex;
    direction: row;
    justify-content: space-between;
    left: auto;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#search-container input { 
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;     
}