#container {
    width: 100vw;
    background-color: #ECF7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.blur-background :not(.not-blur) {
    filter: blur(2px);
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

#addDestinationButton {
    position: absolute;
    align-self: flex-end;
    margin: 80px;
    height: 50px;
    width: 110px;
    border-radius: 10px;
}