body{
    overflow-x:visible;
}

#container {
    width: 100vw;
    background-color: #ECF7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}   

#feed-container {
    width: 100vw;
    max-width: 1500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    width: 100%;

} 

#filter-container {
    position: absolute;
    left: 0; /* Preserve left alignment */
    width: 22%;
    display: flex;
    z-index: 1;
}

.blur-background #filter-container, .blur-background #feed-container, .blur-background #search-container,
.blur-background #addDestinationButton{
    filter: blur(2px);
}

.blur-background .not-blur {
    filter: none !important;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
}

/* #addDestinationButton {
    position: absolute;
    align-self: flex-end;
    margin:50px;
    height: 50px;
    width: 110px;
    z-index: 2;
    border-radius: 10px;
} */

/* #search-container {
    width: 50%;
    display: flex;
    direction: row;
    justify-content: space-between;
    left: auto;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#search-container input { 
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;     
} */

/* #search-container {
    width: 50%;
} */

#search-and-add {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 40px;
    width: 50%;
}

#search-and-add input {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 560px;
}

#search-and-add button {
    width: 130px;
}

.disable-button {
    pointer-events: none;
    cursor: default;
  }
